@font-face {
  font-family: poppinsSemiBold;
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

.mainContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  height: 3vh;
  margin-top: 25vh;
  gap: 12vh;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: poppinsSemiBold;
  font-size: 3vh;
  
}

.contactIconsContainer {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.contactIcon {
  height: 15vh;
}




