@font-face {
  font-family: poppinsRegular;
  src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppinsSemiBold;
  src: url("../assets/fonts/Poppins-SemiBold.ttf");
}

header {
  height: 13vh;
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 26vw;
}

header a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  font-size: 2.5vh;
}

nav a {
  color: white
}

.navBar {
  font-family: poppinsRegular;
  text-decoration: none;
  color: white;
  letter-spacing: -0.5px;
}

.navBar-header {
  font-size: 5vh;
  font-family: poppinsSemiBold;  
  letter-spacing: -1px;
}

.navBar-header a {
  color: aquamarine;
}

.navBar-shoppingCart {
  height: 6vh;
  width: 6vh;
  border-radius: 100%;
  border-style: none;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 50%;
}
